<h1>Goodbye !!</h1>
<h2>Say <a href="/say/hello">Hello</a> !</h2>
<h2>
	Say <%= link_to "Hello", say_hello_path %> Again.
</h2>
<p> 
Addition: <%= 65651*756437663456 %>
</p>
<p>
Time            : <%= @bye_time %>
</p>
<p>
Time in one hour: <%= 1.hour.from_now %>
</p>
<h3>*************************************</h3>
